LOG_FOLDER='/Users/xuwei/Desktop/docker_temp/log'
IMG_FOLDER='/Users/xuwei/Pictures/FaceMatchPic'
PYTHON_CODE='/Users/xuwei/Python/FaceMatch'

echo 'running container with volume config folder'
sudo docker run -d  -v $IMG_FOLDER:/home/img        \
                    -v $PYTHON_CODE:/root/openface/demos   \
                    -p 5000:5000          \
                    --name face_match_container \
                    --restart=on-failure:10 \
                    face_match_image